@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__node {
  font-family: var(--font-sans);
}
